.searchButton {
    height: 40px;
    color: white;
    font-weight: bold;
    border: 1px solid #FA8000;
    border-radius: 0 20px 20px 0;
    background-color: #FA8000;
    width: 14%;
    margin-left: -1px;
}

.searchButton:hover {
    background-color: #0E5C06;
    border-color: #0E5C06;
}

.searchBar {
    height: 40px;
    border: 1px solid grey;
    border-radius: 20px 0 0 20px;
    padding-left: 20px;
    width: 56%;
}

@media only screen and (width < 600px) {
    .searchButton {
        width: 30%;
    }

    .searchBar {
        width: 70%;
    }
}