html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}

h1 {
  font-size: 1.802rem;
  font-family: "Atma", cursive;
}

.App {
  min-height: 100vh;
  margin: 0 0 100px 0;
}

.external-link {
  color: #fa8000;
  text-decoration: none;
}

.external-link:hover {
  color: #0e5c06;
}

.external-link:visited {
  color: #5c8f2e;
}
